1a) Use pandas to create a Series from the following data:

In [367]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])

1b) Run .describe() on the series to see what describe returns for a series of strings.

In [8]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

1c) Run the code necessary to produce only the unique fruit names.

In [9]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

1d) Determine how many times each value occurs in the series.

In [99]:
fruits.value_counts()

kiwi                4
mango               2
honeycrisp apple    1
honeydew            1
pineapple           1
blueberry           1
gooseberry          1
blackberry          1
papaya              1
gala apple          1
strawberry          1
tomato              1
watermelon          1
dtype: int64

1e) Determine the most frequently occurring fruit name from the series.

In [108]:
fruits.value_counts().nlargest(1, keep='all')

#fruits.mode()

kiwi    4
dtype: int64

1f) Determine the least frequently occurring fruit name from the series.

In [151]:
fruits.value_counts().nsmallest(keep='all')

honeycrisp apple    1
honeydew            1
pineapple           1
blueberry           1
gooseberry          1
blackberry          1
papaya              1
gala apple          1
strawberry          1
tomato              1
watermelon          1
dtype: int64

1g) Write the code to get the longest string from the fruits series.

In [172]:
max(fruits, key = len)

'honeycrisp apple'

1h) Find the fruit(s) with 5 or more letters in the name.

In [173]:
fruits[fruits.str.len()>5]

2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

1i) Capitalize all the fruit strings in the series.

In [176]:
fruits.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

1j) Count the letter "a" in all the fruits (use string vectorization)

In [178]:
fruits.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

1k) Output the number of vowels in each and every fruit

In [273]:
fruits.str.count('a|e|i|o|u|y')

0     2
1     2
2     3
3     4
4     4
5     6
6     3
7     4
8     4
9     2
10    2
11    2
12    2
13    4
14    3
15    5
16    4
dtype: int64

1l) Use the .apply method and a lambda function to find the fruit(s) containing two or more "o" letters in the name.

In [290]:
fruits[fruits.apply(lambda fruit: fruit.count('o') >= 2)]

6         tomato
15    gooseberry
dtype: object

1m) Write the code to get only the fruits containing "berry" in the name

In [266]:
fruits[fruits.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

1n) Write the code to get only the fruits containing "apple" in the name

In [267]:
fruits[fruits.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

1o) Which fruit has the highest amount of vowels?

In [326]:
fruits.str.count('a|e|i|o|u|y')

0     2
1     2
2     3
3     4
4     4
5     6
6     3
7     4
8     4
9     2
10    2
11    2
12    2
13    4
14    3
15    5
16    4
dtype: int64

2) Use pandas to create a Series from the following data:

In [332]:
money = pd.Series(['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23'])

2a) What is the data type of the series?

In [333]:
money
#the data type is object

0       $796,459.41
1           $278.60
2       $482,571.67
3     $4,503,915.98
4      $2,121,418.3
5      $1,260,813.3
6        $87,231.01
7     $1,509,175.45
8     $4,138,548.00
9     $2,848,913.80
10      $594,715.39
11    $4,789,988.17
12     $4,513,644.5
13    $3,191,059.97
14    $1,758,712.24
15    $4,338,283.54
16    $4,738,303.38
17    $2,791,759.67
18      $769,681.94
19      $452,650.23
dtype: object

2b) Use series operations to convert the series to a numeric data type.

In [351]:
money = money.str.replace('$','')
money = money.str.replace(',','')
money = money.astype(float)

2c) What is the maximum value? The minimum?

In [377]:
money.min()
money.max()
money.describe()

count    2.000000e+01
mean     2.284406e+06
std      1.735261e+06
min      2.786000e+02
25%      7.259403e+05
50%      1.940065e+06
75%      4.188482e+06
max      4.789988e+06
dtype: float64

2d) Bin the data into 4 equally sized intervals and show how many values fall into each bin.

In [381]:
money_bin = pd.cut(money, 4)
money_bin.value_counts()

(-4511.11, 1197705.993]       7
(3592560.778, 4789988.17]     6
(1197705.993, 2395133.385]    4
(2395133.385, 3592560.778]    3
dtype: int64

2e) Plot a histogram of the data. Be sure to include a title and axis labels.